# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
out/

*.iml
*.ipr
*.iws
target/
../hw/
../.idea/
../.idea_modules/
../out
../out/git